<!-- structure Directives -->
  ==============================

<!-- ngFor -->
<h5 *ngFor="let age of ages">Age is:{{age}}</h5>

<!-- ngFor with index -->
<h5 *ngFor="let age of ages;let i=index">person{{i+1}} age is {{age}}</h5>

<!-- ngFor on elements -->
<ul>
    <li *ngFor="let state of states">{{state}}</li>
</ul>

<label for="">states:</label>
<select name="" id="">
    <option *ngFor="let state of states">{{state}}</option>
</select>

<!-- ngFor on array of objects -->
 <h5 *ngFor="let product of products">
    {{product.name}} price is {{product.price}} rating is {{product.rating}}
 </h5>

 <table border="2">
    <thead>
        <tr>
            <th>name</th>
            <th>price</th>
            <th>rating</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products">
            <td>{{product.name}}</td>
            <td>{{product.price}}</td>
            <td>{{product.rating}}</td>
        </tr>
    </tbody>
 </table>


 <!-- ngIF -->
  <button *ngIf="true">submit</button>
  <button *ngIf="false">create</button>
  <button *ngIf="true">cancle</button>


  <!-- Attribute Directives -->
   ============================

   <h2>"Attribute Directives"</h2>
   <table border="2">
    <thead>
        <tr>
            <th>name</th>
            <th>price</th>
            <th>rating</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products">
            <td>{{product.name}}</td>
            <!-- <td>{{product.price}}</td> -->
            <td [ngClass]="{'low':product.price<=1000,'medium':product.price>1000 && product.price<10000,'high':product.price>=10000}">{{product.price}}</td>
            <!-- <td style="color: aquamarine;">{{product.rating}}</td> -->
            <td [ngStyle]="{'color':product.rating<3?'red':'green'}">{{product.rating}}</td>
        </tr>
    </tbody>
 </table>