<div class="parent">
    <div class="top">
        <h1>my apps</h1>
    </div>
    <div class="bottom">
        <div class="left">
            <h2>wish</h2>
            <div>
                <label for="">time:</label>
                <input type="number" id="time" min="1" max="24" [(ngModel)]="time">
            </div>
            <button >wish</button>
            <h4></h4>
        </div>
        <div class="right">
            <h2>grade check</h2>
            <div>
                <label for="">marks</label>
                <input type="number" id="marks" min="0" max="100" [(ngModel)]="marks">
            </div>
            <button >calculate</button>
            <h4 ></h4>
        </div>

    </div>
</div>
