body{
    margin: 0;
}
.parent{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
 
}
.child{
    width: 250px;
    height: 400px;
    background-color: aqua;
    display: flex;
    justify-content: center;
    border-radius: 20px;
  
} 

h1{
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    align-items: center;

}
div>label,input{
    margin-bottom: 10px;
    padding: 3%;
    /* text-transform: capitalize; */
}
div>label{
    text-transform: capitalize;
}
button{
    text-transform: capitalize;
    font-weight: 600;
    background-color: bisque;
    border-radius: 10%;
    cursor: pointer;
    width: 100px;
}