.box{
    margin: 40px;
    background-color: aqua;
    height: 150px;
}
.sibling{
    margin: 40px;
    height: 200px;
    width: 40%;
    background-color: blanchedalmond;
    display: inline-block;
}