
<div class="parent">
    <div class="left">
        <h1>my website</h1>
        <hr>
        <h2 routerLink="welcome">welcome</h2>
        <h2 routerLink="home">home</h2>
        <h2 routerLink="data-binding">data-binding</h2>
        <h2 routerLink="calculator">calculator</h2>
        <h2 routerLink="rectangle">rectangle</h2>
        <h2 routerLink="circle">circle</h2>
        <h2 routerLink="bmi">bmi</h2>
        <h2 routerLink="my-apps">my-apps</h2>
        <h2 routerLink="directives">directives</h2>
        <h2 routerLink="pipes">pipes</h2>
        <h2 routerLink="employees">employees</h2>
        <h2 routerLink="event">event-registration</h2>
        <h2 routerLink="cart">cart</h2>
        <h2 routerLink="flipkart">flipkart</h2>
        <h2 routerLink="dataofemp">dataofemp</h2>
        <h2 routerLink="vehicle">vehicle</h2>
        <h2 routerLink="bankaccounts">bankaccounts</h2>
        <h2 routerLink="myntra">myntra</h2>
        <h2 routerLink="mails">mails</h2>
        <h2 routerLink="meme">meme</h2>
        <h2 routerLink="create-vehicle">create-vehicle</h2>
        <h2 routerLink="create-bank">create-bank</h2>
        <h2 routerLink="students">students</h2>
        <h2 routerLink="student-details">student-details</h2>
        <h2 routerLink="user">user</h2>
        <h2 routerLink="create-company">create-company</h2>
        <h2 routerLink="parent">parent</h2>
        <h2 routerLink="calculator2">calculator2</h2>
        <button (click)="logout()">logout</button>
    </div>


    <div class="right">
        <router-outlet></router-outlet>
    </div>
    
</div>