<h1>{{id? "edit account form" : "create account form"}}</h1>

<form [formGroup]="accountform">
   

    <label for="">accountname:</label>
    <input type="text" formControlName="account_name">
    <br>

    <label for="">accountbalance:</label>
    <input type="text" formControlName="available_balance">
    <br>

    <label for="">accountnumber:</label>
    <input type="text" formControlName="account_number">
    <br>


    
    <label for="">city:</label>
    <input type="text" formControlName="city">
    <br>

    
    <label for="">profile:</label>
    <input type="text" formControlName="profie_picture">
    <br>

    <button (click)="submit()">{{id ?"edit" : "create"}}</button>

</form>
